:root {
    background-color: #bbbbbb;
}

body {
    margin: 0px;
    font-family: system-ui, Tahoma, Geneva, Verdana, sans-serif ;

}

.container {
    /* outline: 2px red solid; */
    display: grid;
    grid: .1fr 1fr / 1fr 6fr;
    height: 100vh;
}

/* /// SIDEBAR */

.sidebar {
    background-color: #0E0815;
    color: rgb(196, 196, 196);
    grid-area: 1/1/-1/2;
    display: grid;
    width: 300px;
}

.sym {
    background-color: rgb(196, 196, 196);
}

img[src$=".svg"] {
    height: 25px;
    width: 25px;
    filter: invert(80%);
}

.sb-content {
    display: grid;
    justify-content: start;
    align-content: start;
    margin: 20px 30px;
    gap: 50px;
}

.side-item {
    font-size: 1.3rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    margin-bottom: 20px;
    font-weight: 500;
    gap: 15px;
}

.nav {
    margin-bottom: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.symbol {
    width: 50px;
    height: 50px;
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr 1fr;
    gap: 5px;
}

.elem1 {
    grid-area: 1/1/3/2;
}

.elem4 {
    grid-area: 2/2/4/3;
}

/* /// HEADER */

.header {
    background-color: #271E30;
    height: 180px;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    color: rgb(196, 196, 196);
}

img[src$=".png"],
img[src$=".jpg"] {
    border-radius: 100%;
}

.icons img[src$=".png"] {
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 10px 1px rgba(254, 181, 255, 0.247);
}

.name img {
    height: 65px;
    width: 65px;
    box-shadow: 0px 0px 10px 1px rgba(254, 181, 255, 0.247);
}

.search {
    grid-area: 1/1/2/2;
}

.icons {
    grid-area: 1/2/2/3;
}

.name {
    grid-area: 2/1/2/2;
    min-width: 350px;
}

.actions {
    grid-area: 2/2/3/3;
}

.search,
.icons,
.name,
.actions {
    height: 90px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.search,
.name {
    justify-content: start;
    margin-left: 40px;
    gap: 10px;
}

.icons,
.actions {
    justify-content: end;
    gap: 20px;
    margin-right: 40px;
}

input {
    height: 30px;
    width: 40vw;
    background-color: #e4e4e4;
    border: 2px solid rgba(254, 181, 255, 0.247);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px rgba(254, 181, 255, 0.247);
}

button {
    background-color: #644C7D;
    color: rgb(223, 223, 223);
    height: 2.2rem;
    width: 5.5rem;
    font-size: 14px;
    font-weight: 900;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 0px 10px 1px rgba(254, 181, 255, 0.247);
}

/* /// CONTENT */

.tile,
.window,
.profiles {
    background-color: #271E30;
    color: rgb(196, 196, 196);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgba(254, 181, 255, 0.247);
}

.content {
    display: grid;
    grid: 1fr / 4fr 1fr;
    background-color: #17101F;
    color:rgb(196, 196, 196);   
}

.proj {
    margin: 0px 10px 10px 10px;
    height: fit-content;
    display: grid;
    grid-area: 1/1/3/2;
    min-width: 510px;
}

.tiles {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr;    
    margin-top: -20px;
    gap: 10px;
    resize: both;
    overflow: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    min-width: 510px;
}

.tile {
    height: fit-content;
    width: clamp(200px, 80%, 400px);
    display: grid;
    border-left: 8px solid rgb(139, 67, 91);
    margin: 5px 0px;
}

.proj .descr-text {
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.announ .descr-text {
    font-size: 12px;
}

.proj-icons {
    display: flex;
    gap: 10px;
    justify-content: end;
}

.announ {
    height: fit-content;
    width: 240px;
    display: grid;
    grid-area: 1/2/2/3;
}

.window {
    gap: 20px;
    border-radius: 10px;
    display: grid;
    justify-content: start;
    margin-top: -10px;
}

.description:nth-child(2) {
    border-top: 2px solid rgb(196, 196, 196, 33%);
    border-bottom: 2px solid rgb(196, 196, 196, 33%);
    padding: 20px 0px;

}

.description {
    display: grid;
}

.content img[src$=".png"],
.content img[src$=".jpeg"] {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 1px rgba(254, 181, 255, 0.247);
}

.trend {
    display: grid;
    height: fit-content;
    width: 240px;    
}

.link,
.status {
    font-size: 14px;
}

.status,
.descr-text {
    opacity: 80%;
}

.profiles {
    display: grid;
    justify-content: left;
    align-content: center;
    margin-top: -10px;
    gap: 20px;
}

.prof {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-content: center;
    gap: 10px;
}

.info {
    display: grid;
    align-content: center;
    gap: 5px;
}